# .env.development
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/resto-booking

# .env.production - change to real data
# DATABASE_URL=postgresql+asyncpg://[user]:[password]@[host]:[port]/[database]

# .env.test
# DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/resto-booking-test

# .env.development
DEBUG=True

# .env.production
# DEBUG=False