# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=resto-booking
DB_USER=postgres
DB_PASS=postgres
DB_URL_SCHEME=postgresql+asyncpg

# Construct DATABASE_URL from components
DATABASE_URL=${DB_URL_SCHEME}://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}

# Debug mode
DEBUG=True

# Test database
TEST_DB_NAME=test_resto_booking
TEST_DB_PORT=5433

# .env.development
DEBUG=True

# .env.production
# DEBUG=False